In [1]:
from pandas import DataFrame, Series
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df_pay = pd.read_csv('home-credit-default-risk/installments_payments.csv', na_values=['','XNA','XAP'])

In [3]:
len(df_pay)

13605401

In [27]:
#clients that didn't pay what they owed on previous loans
len(df_pay[df_pay['AMT_INSTALMENT']<df_pay['AMT_PAYMENT']])

179397

In [24]:
# people applying for loans could have had many previous loans
#some of the SK_ID_PREV repeat? Shows the different payments
#Days_Instalment and DAYS_entry_payment can show how late they were on payments?
#SK_ID_PREV wrong for one of 1054186?
df_pay[df_pay['SK_ID_CURR']==161674].sort_values(by='SK_ID_PREV')[:20]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
3612113,1054186,161674,1.0,4,-1240.0,-1247.0,6948.360,6948.360
47438,1054186,161674,1.0,2,-1300.0,-1307.0,6948.360,6948.360
1038640,1054186,161674,1.0,10,-1060.0,-1125.0,6948.360,6948.360
1128187,1054186,161674,1.0,7,-1150.0,-1175.0,6948.360,6948.360
138614,1054186,161674,1.0,8,-1120.0,-1175.0,6948.360,6948.360
216905,1054186,161674,1.0,12,-1000.0,-1033.0,6935.220,6935.220
1402152,1054186,161674,1.0,11,-1030.0,-1063.0,6948.360,6948.360
1608829,1054186,161674,1.0,9,-1090.0,-1154.0,6948.360,6948.360
425089,1054186,161674,1.0,3,-1270.0,-1275.0,6948.360,6948.360
577850,1054186,161674,1.0,1,-1330.0,-1338.0,6948.360,6948.360
1878907,1054186,161674,1.0,5,-1210.0,-1217.0,6948.360,6948.360
2671816,1065354,161674,1.0,1,-302.0,-315.0,12595.185,12595.185
614294,1065354,161674,2.0,2,-272.0,-299.0,117414.000,117414.000
831532,1294823,161674,2.0,7,-2869.0,-2869.0,8591.130,8591.130
2315826,1294823,161674,1.0,6,-2899.0,-2926.0,4340.745,4340.745
1614970,1588995,161674,1.0,5,-1611.0,-1616.0,13305.060,13305.060
951171,1588995,161674,1.0,3,-1671.0,-1671.0,13305.060,13305.060
2738477,1588995,161674,1.0,1,-1731.0,-1736.0,13305.060,13305.060
2835586,1588995,161674,1.0,10,-1461.0,-1467.0,13305.060,13305.060

In [6]:
#maybe add how many previous loans that had
df_pay['SK_ID_CURR'].nunique()

339587

In [7]:
df_pay.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360250e+07,1.360540e+07,1.360250e+07
mean,1.903365e+06,2.784449e+05,8.566373e-01,1.887090e+01,-1.042270e+03,-1.051114e+03,1.705091e+04,1.723822e+04
std,5.362029e+05,1.027183e+05,1.035216e+00,2.666407e+01,8.009463e+02,8.005859e+02,5.057025e+04,5.473578e+04
min,1.000001e+06,1.000010e+05,0.000000e+00,1.000000e+00,-2.922000e+03,-4.921000e+03,0.000000e+00,0.000000e+00
25%,1.434191e+06,1.896390e+05,0.000000e+00,4.000000e+00,-1.654000e+03,-1.662000e+03,4.226085e+03,3.398265e+03
50%,1.896520e+06,2.786850e+05,1.000000e+00,8.000000e+00,-8.180000e+02,-8.270000e+02,8.884080e+03,8.125515e+03
75%,2.369094e+06,3.675300e+05,1.000000e+00,1.900000e+01,-3.610000e+02,-3.700000e+02,1.671021e+04,1.610842e+04
max,2.843499e+06,4.562550e+05,1.780000e+02,2.770000e+02,-1.000000e+00,-1.000000e+00,3.771488e+06,3.771488e+06

In [8]:
(df_pay.isnull().sum() / len(df_pay)*100).sort_values(ascending = False)

AMT_PAYMENT               0.021352
DAYS_ENTRY_PAYMENT        0.021352
AMT_INSTALMENT            0.000000
DAYS_INSTALMENT           0.000000
NUM_INSTALMENT_NUMBER     0.000000
NUM_INSTALMENT_VERSION    0.000000
SK_ID_CURR                0.000000
SK_ID_PREV                0.000000
dtype: float64

In [9]:
#I belive that if it is missing means that they never paid that loan off,
#probably just fill with zeroes then
df_pay[df_pay['AMT_PAYMENT'].isnull()][:10]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
3764207,1531600,103793,1.0,7,-668.0,NaN,49741.020,NaN
3764208,1947105,159974,1.0,24,-36.0,NaN,22849.515,NaN
3764209,1843773,167270,1.0,22,-20.0,NaN,48092.355,NaN
3764210,1691592,192536,1.0,5,-2561.0,NaN,7675.425,NaN
3764211,1531299,157088,0.0,11,-1847.0,NaN,67.500,NaN
3764212,1562727,187345,0.0,23,-5.0,NaN,11401.740,NaN
3764213,1265332,167942,1.0,5,-14.0,NaN,11650.500,NaN
3764214,1531600,103793,1.0,25,-128.0,NaN,49741.020,NaN
3764215,1852469,103171,7.0,3,-49.0,NaN,311738.355,NaN
3764216,1054684,142217,0.0,38,-1469.0,NaN,67.500,NaN

In [10]:
len(df_pay[df_pay['DAYS_ENTRY_PAYMENT'].isnull()])

2905

In [11]:
len(df_pay[df_pay['DAYS_ENTRY_PAYMENT'].isnull()&df_pay['AMT_PAYMENT'].isnull()])

2905

In [12]:
mask1 = df_pay[df_pay['DAYS_ENTRY_PAYMENT'].isnull()].index

mask2 = df_pay[df_pay['AMT_PAYMENT'].isnull()].index

mask1.equals(mask2)
df_pay[df_pay['DAYS_ENTRY_PAYMENT'].isnull()].equals(df_pay[df_pay['AMT_PAYMENT'].isnull()])

True

In [16]:
df_pay_filled = df_pay
df_pay_filled['AMT_PAYMENT'].fillna(0, inplace=True)
df_pay_filled['DAYS_ENTRY_PAYMENT'].fillna(1, inplace=True)

In [17]:
(df_pay_filled.isnull().sum() / len(df_pay_filled)*100).sort_values(ascending = False)

AMT_PAYMENT               0.0
AMT_INSTALMENT            0.0
DAYS_ENTRY_PAYMENT        0.0
DAYS_INSTALMENT           0.0
NUM_INSTALMENT_NUMBER     0.0
NUM_INSTALMENT_VERSION    0.0
SK_ID_CURR                0.0
SK_ID_PREV                0.0
dtype: float64

In [18]:
df_pay_filled.corr(method="pearson")

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
SK_ID_PREV,1.000000,0.002132,0.000685,-0.002095,0.003748,0.003735,0.002042,0.001887
SK_ID_CURR,0.002132,1.000000,0.000480,-0.000548,0.001191,0.001225,-0.000226,-0.000126
NUM_INSTALMENT_VERSION,0.000685,0.000480,1.000000,-0.323414,0.130244,0.127830,0.168109,0.176508
NUM_INSTALMENT_NUMBER,-0.002095,-0.000548,-0.323414,1.000000,0.090286,0.094491,-0.089640,-0.087698
DAYS_INSTALMENT,0.003748,0.001191,0.130244,0.090286,1.000000,0.999292,0.125985,0.126981
DAYS_ENTRY_PAYMENT,0.003735,0.001225,0.127830,0.094491,0.999292,1.000000,0.125511,0.126489
AMT_INSTALMENT,0.002042,-0.000226,0.168109,-0.089640,0.125985,0.125511,1.000000,0.937052
AMT_PAYMENT,0.001887,-0.000126,0.176508,-0.087698,0.126981,0.126489,0.937052,1.000000

In [19]:
df_pay_filled.shape

(13605401, 8)

In [32]:
len(df_pay[df_pay['AMT_PAYMENT']== 0])
len(df_pay_filled[df_pay_filled['AMT_PAYMENT']== 0])

4345